
body{
    width: 1200px;
    margin: 0 auto;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    "wdth" 100;
}

.btn-primary{
    background-color: #4E47FF;
    border-radius: 5px;
    color:#FFFFFF ;
    border: none;
    font-weight: bold;
    padding: 5px 5px;
    
    
}
.btn-primary:hover{
    background-color: yellow;
    scale: 1.2;
}



/*header*/
.header{
    background-image: url('../Assets/Hero-bg.png');
}

/*share style*/
.text-primary{
    color: #4E47FF;
}



/*nav style*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul{
    display: flex;
}
nav ul li {
    list-style: none; 
}

/*bannaer style*/
.banner{
    display: flex;
    justify-content: space-around;
    gap: 35px;
    align-items: center;
}
.banner-greetings{
    font-size: 38px;
    color: #252432;
    
}
img{
    border-radius: 48px;
    margin-top: 20px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin: 130px;
    margin-bottom: 130px;
}
/*section style*/

.section-title{
    font-size: 50px;
    font-weight: bold;
    align-items: center;
}
.about{
    
    padding: 130px 150px;
    margin: 130px;
    text-align: center;
    background-color: aquamarine;
    
}
.about-item{
    font-weight: bold;
    font-size: 18px;

}
.item_description{
    font-size: 14px;
    font-weight: normal;
    color: black;
}

.about-items{
    display: flex;
    justify-content: space-between;
    color: #4E47FF;
    gap: 50px;
    
.knowledge-container{
    display: flex;
    gap: 24px;
    
}
.knowledge{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px;
    align-items: center;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.contact{
    
    display: flex;
    gap: 100px;
    align-items: center;
}
.section-column{
    width: 50%;
}
section input[type="tex"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 24px;
}

.footer{
    text-align: center;
}
.footer nav{
    text-align: none;
}
.footer-button{
    margin: 30px 0;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}